.DS_Store
.vscode/settings.json
*.o
*.bz2
*.so
*.bc
experiment_code/inet_faure_rib1000_results.txt
dataypes/complex_int_faure/complex.sql
dataypes/int_faure/int_faure.sql
experiment_code/string_rib1000_results.txt
*.swp
