.DS_Store
.vscode/settings.json
*.o
*.bz2
*.so
*.bc
experiment_code/inet_faure_rib1000_results.txt
dataypes/complex_int_faure/complex.sql
dataypes/int_faure/int_faure.sql
experiment_code/string_rib1000_results.txt
*.swp
dataypes/int_faure/.vscode/settings.json
dataypes/.vscode/settings.json
*.bc
*.bc
*.o
*.so
*.pyc
dataypes/text/text.bc
dataypes/text/text.o
dataypes/text/text.so
dataypes/text/text.sql
experiment_code/generate_tables/string_1000.txt
experiment_code/generate_tables/test1.sql
experiment_code/test.sql
experiment_code/test1.sql
experiment_code/test.sql
dataypes/text/text.bc
dataypes/text/text.o
dataypes/text/text.so
dataypes/text/text.sql
experiment_code/generate_tables/test2.sql
experiment_code/generate_tables/test3.sql
dataypes/text/text.bc
dataypes/text/text.o
dataypes/text/text.so
experiment_code/generate_tables/generate_text_inet/old/gen_f_table.py
experiment_code/generate_tables/generate_text_inet/old/gen_ribDB.py
experiment_code/generate_tables/generate_text_inet/old/gen_r_table.py
experiment_code/generate_tables/generate_inet_faure/f_table_rib1000.fid_and_faure.txt
orch_log.sql
ravel/sql/flows.sql
ravel/sql/topo.sql
ravel/sql/flows.sql
ravel/sql/topo.sql
ravel/sql/topo.sql
ravel/sql/flows.sql

__pycache__
faure_translator/int4_faure_explain_17.txt
faure_translator/int_faure_14_join.log
faure_translator/join_14_int4_faure
faure_translator/join_14_text
faure_translator/join_20_int4_faure
faure_translator/join_20_text
faure_translator/postgresql-2022-01-09_025408.log
faure_translator/postgresql-2022-01-09_042043.log
faure_translator/postgresql-2022-01-09_043841.log
faure_translator/query_path_text_17.log
faure_translator/text_14_join.log
faure_translator/text_explain_17.txt
util/tableau-old.py
pyotr_translator/databaseconfig.py
faure_translator/translator2.py
faure_translator/translator_mubashir.py
pyotr_translator/translator_mubashir.py
util/check_tautology/databaseconfig.py
util/check_tautology/databaseconfig.py
pyotr_translator/translator_mubashir.py
faure_translator/translator_mubashir.py
util/minimization.py
util/minimization.py
faure_translator/translator_mubashir.py
faure_translator/translator_mubashir.py
